/OpenCV_install/hoge.sh~
/OpenCV_install/Thumbs.db
/OpenCV_install/test
/OpenCV_install/test.c~
/tex_install/install-tl-unx.tar.gz*
/tex_install/tex_install.sh~
/tex_install/latexmkrc~
/tex_install/texmf.cnf~
/tex_install/tex_install_script*
*~
